.topnav-right {
    text-align: right;
    font-family:cursive;
}

body {
    background-image: url("https://media.istockphoto.com/photos/laptop-stationery-and-flowers-on-a-pink-pastel-background-picture-id1257068380?k=20&m=1257068380&s=170667a&w=0&h=Eqs60pzbG_gPy-asA-ercEcYmc8DCBmxpYm9zdQ9SOk=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}



 h1 {
    text-align: center;
    font-family: cursive;
  }

  p {
      text-align: center;
      font-family: cursive;
      font-size: 25px;
  }